@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Jura";
    background: linear-gradient(rgba(80, 0, 0, 0.5), rgba(80, 0, 0, 0.5)), url("img/8.jpg");
    background-position: inherit;
    background-repeat: repeat;
}

.Logo_img {
    width: 20%;
    height: 10%;
}

.Logo {
    background-color: rgba(0, 0, 0, 0.35);
}

.body_base {
    /* font-family: "Merriweather", serif; */
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    margin-top: 6%;
    background-color: rgb(126, 2, 2);
    border-radius: 50px;
}

.brightness-control {
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1f1e1e;
    border-radius: 40px;
}

#brightness_100,
#brightness {
    margin: 0 20px;
    font-size: 18px;
}

.range {
    width: 400px;
    height: 15px;
    appearance: none;
    background: #edf1f4;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #bb0808;
    box-shadow: -407px 0 0 400px #bb0808;
    cursor: pointer;
}

.rangeValue {
    position: relative;
    text-align: center;
    width: 60px;
    font-size: 1.25em;
    color: #fff;
    background: #022f52;
    margin-left: 15px;
    border-radius: 25px;
    font-weight: 500;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
}

.button_exit {
    float: right;
    margin-top: 3%;
    margin-right: 2%;
}

h1:hover {
    filter: drop-shadow(3px 3px 10px white);
}

h2:hover {
    filter: drop-shadow(3px 3px 10px white);
}

label:hover {
    filter: drop-shadow(3px 3px 10px white);
}

p:hover {
    filter: drop-shadow(3px 3px 10px white);
}

button {
    width: 200px;
    font-family: "Jura";
    /* font-family: "Merriweather", serif; */
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 3px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #bb0808 inset, 0 0 0 0 #bb0808;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    font-size: 18px;
}

button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #bb0808;
    color: #bb0808;
}

.body_index {
    /* font-family: "Merriweather", serif; */
    background-color: black;
}

.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    margin-top: 6%;
    background-color: rgb(126, 2, 2);
    border-radius: 50px;
}

.form-group{
    padding: 6px;
}

.text_log, .log_lab {
    padding: 8px;
}

.log_lab {
    font-size: 25px;
}

.log_button {
    width: 200px;
}

.txt {
    width: 50%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #a80000;
    border-radius: 5px;
    outline: none;
    background: #faf4e5;
    color: #151515;
    font-size: 18px;
}

.addit, #b_value, #l_value {
    margin: 10px;
    font-size: 23px;
}